MultiFileUploadTest/Connected Services/DosyAAktarim/TeknoserDosyaAktarim.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ATTACHSAVE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestAttachSave" type="tns:RequestAttachSave" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestAttachSave">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BILDIRIMNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ATTACH" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="ATTACHFILESIZE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ATTACHFILENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ATTACHFILECONTENTTYPE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RECORD_DATE" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ORJINALFILENAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISCONTROL" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ATTACHDESCRIPTION" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ATTACHSAVEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ATTACHSAVEResult" type="tns:ResponseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RESULT" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="RESULTCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RESULTMESSAGE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ATTACH" type="tns:ArrayOfAttachInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAttachInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AttachInformation" nillable="true" type="tns:AttachInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AttachInformation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BILDIRIMNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ATTACH_URL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ATTACHFILESIZE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ATTACHFILENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ATTACHFILECONTENTTYPE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RECORD_DATE" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ORJINALFILENAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISCONTROL" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ATTACHDESCRIPTION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ATTACHFILENAMEDESCRIPTION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ATTACHFILENAMECODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ATTACHDATA" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="APPLICATIONNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CREATEDUSER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VENDORFILECODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BULKTRANSFER_CODE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ATTACHSAVEFOLDER">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestAttachSave" type="tns:RequestAttachSaveFOLDER" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestAttachSaveFOLDER">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BILDIRIMNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ATTACH" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="ATTACHFILESIZE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ATTACHFILENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ATTACHFILECONTENTTYPE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RECORD_DATE" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ORJINALFILENAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISCONTROL" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ATTACHDESCRIPTION" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="APPLICATIONNAME" type="tns:ApplicationName" />
          <s:element minOccurs="0" maxOccurs="1" name="CREATEDUSER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VENDORFILECODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BULKTRANSFER_CODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BULKTRANSFER" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="BULKTRANSFER_URL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BASE64DATA" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ApplicationName">
        <s:restriction base="s:string">
          <s:enumeration value="TEKNODESK" />
          <s:enumeration value="TEKNODESKSAP" />
          <s:enumeration value="ISTAKIP" />
          <s:enumeration value="TEKNOSTOK_ONARIM" />
          <s:enumeration value="TEKNOSERVIS" />
          <s:enumeration value="TEKNOSAHA" />
          <s:enumeration value="ISTAKIPSAPRAPOR" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ATTACHSAVEFOLDERResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ATTACHSAVEFOLDERResult" type="tns:ResponseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ATTACHSAVEFOLDER_NEW">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestAttachSave" type="tns:RequestAttachSaveFOLDER" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ATTACHSAVEFOLDER_NEWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ATTACHSAVEFOLDER_NEWResult" type="tns:ResponseResultNew" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseResultNew">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RESULT" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="RESULTCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RESULTMESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RESULTDOSYAID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RESULTATTACHFILENAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ATTACHSAVEFOLDER_NEW_PILOT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestAttachSave" type="tns:RequestAttachSaveFOLDER" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ATTACHSAVEFOLDER_NEW_PILOTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ATTACHSAVEFOLDER_NEW_PILOTResult" type="tns:ResponseResultNew" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETEATTACH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestDeleteAttach" type="tns:RequestDeleteAttach" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestDeleteAttach">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DELETEATTACHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETEATTACHResult" type="tns:ResponseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MOBILEPRINTINFOREOPEN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BILDIRIMNO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MOBILEPRINTINFOREOPENResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MOBILEPRINTINFOREOPENResult" type="tns:ResponseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEVENDORFILEID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestUPDATEVENDORFILEID" type="tns:RequestUPDATEVENDORFILEID" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestUPDATEVENDORFILEID">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="VENDORFILEID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATEVENDORFILEIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEVENDORFILEIDResult" type="tns:ResponseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETEATTACH_BILDIRIMNO_AND_DOSYATIPI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestDeleteBildirimAndDosyaTipi" type="tns:RequestDeleteBildirimAndDosyaTipi" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestDeleteBildirimAndDosyaTipi">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BILDIRIMNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DOSYATIPI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APPLICATIONNAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DELETEATTACH_BILDIRIMNO_AND_DOSYATIPIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETEATTACH_BILDIRIMNO_AND_DOSYATIPIResult" type="tns:ResponseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETATTACHIMAGE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestAttachImage" type="tns:RequestAttachImage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestAttachImage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GETATTACHIMAGEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GETATTACHIMAGEResult" type="tns:ResponseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETATTACH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestGetAttach" type="tns:RequestGetAttach" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestGetAttach">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BILDIRIMNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APPLICATIONNAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GETATTACHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GETATTACHResult" type="tns:ResponseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETATTACHBULKCODE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestGetAttach" type="tns:RequestGetAttachBulkCode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestGetAttachBulkCode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BULKTRANSFER_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APPLICATIONNAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GETATTACHBULKCODEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GETATTACHBULKCODEResult" type="tns:ResponseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEFILECOUNT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_ApplicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BILDIRIMNO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEFILECOUNTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UPDATEFILECOUNTResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ING_ATTACHSAVEFOLDER">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestAttachSave" type="tns:RequestAttachSaveFOLDER" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ING_ATTACHSAVEFOLDERResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ING_ATTACHSAVEFOLDERResult" type="tns:ResponseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ING_DELETEATTACH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestDeleteAttach" type="tns:RequestDeleteAttach" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ING_DELETEATTACHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ING_DELETEATTACHResult" type="tns:ResponseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ING_GETATTACHIMAGE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestAttachImage" type="tns:RequestAttachImage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ING_GETATTACHIMAGEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ING_GETATTACHIMAGEResult" type="tns:ResponseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResponseResult" nillable="true" type="tns:ResponseResult" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ATTACHSAVESoapIn">
    <wsdl:part name="parameters" element="tns:ATTACHSAVE" />
  </wsdl:message>
  <wsdl:message name="ATTACHSAVESoapOut">
    <wsdl:part name="parameters" element="tns:ATTACHSAVEResponse" />
  </wsdl:message>
  <wsdl:message name="ATTACHSAVEFOLDERSoapIn">
    <wsdl:part name="parameters" element="tns:ATTACHSAVEFOLDER" />
  </wsdl:message>
  <wsdl:message name="ATTACHSAVEFOLDERSoapOut">
    <wsdl:part name="parameters" element="tns:ATTACHSAVEFOLDERResponse" />
  </wsdl:message>
  <wsdl:message name="ATTACHSAVEFOLDER_NEWSoapIn">
    <wsdl:part name="parameters" element="tns:ATTACHSAVEFOLDER_NEW" />
  </wsdl:message>
  <wsdl:message name="ATTACHSAVEFOLDER_NEWSoapOut">
    <wsdl:part name="parameters" element="tns:ATTACHSAVEFOLDER_NEWResponse" />
  </wsdl:message>
  <wsdl:message name="ATTACHSAVEFOLDER_NEW_PILOTSoapIn">
    <wsdl:part name="parameters" element="tns:ATTACHSAVEFOLDER_NEW_PILOT" />
  </wsdl:message>
  <wsdl:message name="ATTACHSAVEFOLDER_NEW_PILOTSoapOut">
    <wsdl:part name="parameters" element="tns:ATTACHSAVEFOLDER_NEW_PILOTResponse" />
  </wsdl:message>
  <wsdl:message name="DELETEATTACHSoapIn">
    <wsdl:part name="parameters" element="tns:DELETEATTACH" />
  </wsdl:message>
  <wsdl:message name="DELETEATTACHSoapOut">
    <wsdl:part name="parameters" element="tns:DELETEATTACHResponse" />
  </wsdl:message>
  <wsdl:message name="MOBILEPRINTINFOREOPENSoapIn">
    <wsdl:part name="parameters" element="tns:MOBILEPRINTINFOREOPEN" />
  </wsdl:message>
  <wsdl:message name="MOBILEPRINTINFOREOPENSoapOut">
    <wsdl:part name="parameters" element="tns:MOBILEPRINTINFOREOPENResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATEVENDORFILEIDSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATEVENDORFILEID" />
  </wsdl:message>
  <wsdl:message name="UPDATEVENDORFILEIDSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEVENDORFILEIDResponse" />
  </wsdl:message>
  <wsdl:message name="DELETEATTACH_BILDIRIMNO_AND_DOSYATIPISoapIn">
    <wsdl:part name="parameters" element="tns:DELETEATTACH_BILDIRIMNO_AND_DOSYATIPI" />
  </wsdl:message>
  <wsdl:message name="DELETEATTACH_BILDIRIMNO_AND_DOSYATIPISoapOut">
    <wsdl:part name="parameters" element="tns:DELETEATTACH_BILDIRIMNO_AND_DOSYATIPIResponse" />
  </wsdl:message>
  <wsdl:message name="GETATTACHIMAGESoapIn">
    <wsdl:part name="parameters" element="tns:GETATTACHIMAGE" />
  </wsdl:message>
  <wsdl:message name="GETATTACHIMAGESoapOut">
    <wsdl:part name="parameters" element="tns:GETATTACHIMAGEResponse" />
  </wsdl:message>
  <wsdl:message name="GETATTACHSoapIn">
    <wsdl:part name="parameters" element="tns:GETATTACH" />
  </wsdl:message>
  <wsdl:message name="GETATTACHSoapOut">
    <wsdl:part name="parameters" element="tns:GETATTACHResponse" />
  </wsdl:message>
  <wsdl:message name="GETATTACHBULKCODESoapIn">
    <wsdl:part name="parameters" element="tns:GETATTACHBULKCODE" />
  </wsdl:message>
  <wsdl:message name="GETATTACHBULKCODESoapOut">
    <wsdl:part name="parameters" element="tns:GETATTACHBULKCODEResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATEFILECOUNTSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATEFILECOUNT" />
  </wsdl:message>
  <wsdl:message name="UPDATEFILECOUNTSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEFILECOUNTResponse" />
  </wsdl:message>
  <wsdl:message name="ING_ATTACHSAVEFOLDERSoapIn">
    <wsdl:part name="parameters" element="tns:ING_ATTACHSAVEFOLDER" />
  </wsdl:message>
  <wsdl:message name="ING_ATTACHSAVEFOLDERSoapOut">
    <wsdl:part name="parameters" element="tns:ING_ATTACHSAVEFOLDERResponse" />
  </wsdl:message>
  <wsdl:message name="ING_DELETEATTACHSoapIn">
    <wsdl:part name="parameters" element="tns:ING_DELETEATTACH" />
  </wsdl:message>
  <wsdl:message name="ING_DELETEATTACHSoapOut">
    <wsdl:part name="parameters" element="tns:ING_DELETEATTACHResponse" />
  </wsdl:message>
  <wsdl:message name="ING_GETATTACHIMAGESoapIn">
    <wsdl:part name="parameters" element="tns:ING_GETATTACHIMAGE" />
  </wsdl:message>
  <wsdl:message name="ING_GETATTACHIMAGESoapOut">
    <wsdl:part name="parameters" element="tns:ING_GETATTACHIMAGEResponse" />
  </wsdl:message>
  <wsdl:message name="MOBILEPRINTINFOREOPENHttpGetIn">
    <wsdl:part name="BILDIRIMNO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MOBILEPRINTINFOREOPENHttpGetOut">
    <wsdl:part name="Body" element="tns:ResponseResult" />
  </wsdl:message>
  <wsdl:message name="UPDATEFILECOUNTHttpGetIn">
    <wsdl:part name="_ApplicationName" type="s:string" />
    <wsdl:part name="BILDIRIMNO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UPDATEFILECOUNTHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="MOBILEPRINTINFOREOPENHttpPostIn">
    <wsdl:part name="BILDIRIMNO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MOBILEPRINTINFOREOPENHttpPostOut">
    <wsdl:part name="Body" element="tns:ResponseResult" />
  </wsdl:message>
  <wsdl:message name="UPDATEFILECOUNTHttpPostIn">
    <wsdl:part name="_ApplicationName" type="s:string" />
    <wsdl:part name="BILDIRIMNO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UPDATEFILECOUNTHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="TeknoserDosyaAktarimSoap">
    <wsdl:operation name="ATTACHSAVE">
      <wsdl:input message="tns:ATTACHSAVESoapIn" />
      <wsdl:output message="tns:ATTACHSAVESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ATTACHSAVEFOLDER">
      <wsdl:input message="tns:ATTACHSAVEFOLDERSoapIn" />
      <wsdl:output message="tns:ATTACHSAVEFOLDERSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ATTACHSAVEFOLDER_NEW">
      <wsdl:input message="tns:ATTACHSAVEFOLDER_NEWSoapIn" />
      <wsdl:output message="tns:ATTACHSAVEFOLDER_NEWSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ATTACHSAVEFOLDER_NEW_PILOT">
      <wsdl:input message="tns:ATTACHSAVEFOLDER_NEW_PILOTSoapIn" />
      <wsdl:output message="tns:ATTACHSAVEFOLDER_NEW_PILOTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETEATTACH">
      <wsdl:input message="tns:DELETEATTACHSoapIn" />
      <wsdl:output message="tns:DELETEATTACHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MOBILEPRINTINFOREOPEN">
      <wsdl:input message="tns:MOBILEPRINTINFOREOPENSoapIn" />
      <wsdl:output message="tns:MOBILEPRINTINFOREOPENSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATEVENDORFILEID">
      <wsdl:input message="tns:UPDATEVENDORFILEIDSoapIn" />
      <wsdl:output message="tns:UPDATEVENDORFILEIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETEATTACH_BILDIRIMNO_AND_DOSYATIPI">
      <wsdl:input message="tns:DELETEATTACH_BILDIRIMNO_AND_DOSYATIPISoapIn" />
      <wsdl:output message="tns:DELETEATTACH_BILDIRIMNO_AND_DOSYATIPISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GETATTACHIMAGE">
      <wsdl:input message="tns:GETATTACHIMAGESoapIn" />
      <wsdl:output message="tns:GETATTACHIMAGESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GETATTACH">
      <wsdl:input message="tns:GETATTACHSoapIn" />
      <wsdl:output message="tns:GETATTACHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GETATTACHBULKCODE">
      <wsdl:input message="tns:GETATTACHBULKCODESoapIn" />
      <wsdl:output message="tns:GETATTACHBULKCODESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATEFILECOUNT">
      <wsdl:input message="tns:UPDATEFILECOUNTSoapIn" />
      <wsdl:output message="tns:UPDATEFILECOUNTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ING_ATTACHSAVEFOLDER">
      <wsdl:input message="tns:ING_ATTACHSAVEFOLDERSoapIn" />
      <wsdl:output message="tns:ING_ATTACHSAVEFOLDERSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ING_DELETEATTACH">
      <wsdl:input message="tns:ING_DELETEATTACHSoapIn" />
      <wsdl:output message="tns:ING_DELETEATTACHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ING_GETATTACHIMAGE">
      <wsdl:input message="tns:ING_GETATTACHIMAGESoapIn" />
      <wsdl:output message="tns:ING_GETATTACHIMAGESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TeknoserDosyaAktarimHttpGet">
    <wsdl:operation name="MOBILEPRINTINFOREOPEN">
      <wsdl:input message="tns:MOBILEPRINTINFOREOPENHttpGetIn" />
      <wsdl:output message="tns:MOBILEPRINTINFOREOPENHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATEFILECOUNT">
      <wsdl:input message="tns:UPDATEFILECOUNTHttpGetIn" />
      <wsdl:output message="tns:UPDATEFILECOUNTHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TeknoserDosyaAktarimHttpPost">
    <wsdl:operation name="MOBILEPRINTINFOREOPEN">
      <wsdl:input message="tns:MOBILEPRINTINFOREOPENHttpPostIn" />
      <wsdl:output message="tns:MOBILEPRINTINFOREOPENHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATEFILECOUNT">
      <wsdl:input message="tns:UPDATEFILECOUNTHttpPostIn" />
      <wsdl:output message="tns:UPDATEFILECOUNTHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TeknoserDosyaAktarimSoap" type="tns:TeknoserDosyaAktarimSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ATTACHSAVE">
      <soap:operation soapAction="http://tempuri.org/ATTACHSAVE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ATTACHSAVEFOLDER">
      <soap:operation soapAction="http://tempuri.org/ATTACHSAVEFOLDER" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ATTACHSAVEFOLDER_NEW">
      <soap:operation soapAction="http://tempuri.org/ATTACHSAVEFOLDER_NEW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ATTACHSAVEFOLDER_NEW_PILOT">
      <soap:operation soapAction="http://tempuri.org/ATTACHSAVEFOLDER_NEW_PILOT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETEATTACH">
      <soap:operation soapAction="http://tempuri.org/DELETEATTACH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MOBILEPRINTINFOREOPEN">
      <soap:operation soapAction="http://tempuri.org/MOBILEPRINTINFOREOPEN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATEVENDORFILEID">
      <soap:operation soapAction="http://tempuri.org/UPDATEVENDORFILEID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETEATTACH_BILDIRIMNO_AND_DOSYATIPI">
      <soap:operation soapAction="http://tempuri.org/DELETEATTACH_BILDIRIMNO_AND_DOSYATIPI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETATTACHIMAGE">
      <soap:operation soapAction="http://tempuri.org/GETATTACHIMAGE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETATTACH">
      <soap:operation soapAction="http://tempuri.org/GETATTACH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETATTACHBULKCODE">
      <soap:operation soapAction="http://tempuri.org/GETATTACHBULKCODE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATEFILECOUNT">
      <soap:operation soapAction="http://tempuri.org/UPDATEFILECOUNT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ING_ATTACHSAVEFOLDER">
      <soap:operation soapAction="http://tempuri.org/ING_ATTACHSAVEFOLDER" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ING_DELETEATTACH">
      <soap:operation soapAction="http://tempuri.org/ING_DELETEATTACH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ING_GETATTACHIMAGE">
      <soap:operation soapAction="http://tempuri.org/ING_GETATTACHIMAGE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TeknoserDosyaAktarimSoap12" type="tns:TeknoserDosyaAktarimSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ATTACHSAVE">
      <soap12:operation soapAction="http://tempuri.org/ATTACHSAVE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ATTACHSAVEFOLDER">
      <soap12:operation soapAction="http://tempuri.org/ATTACHSAVEFOLDER" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ATTACHSAVEFOLDER_NEW">
      <soap12:operation soapAction="http://tempuri.org/ATTACHSAVEFOLDER_NEW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ATTACHSAVEFOLDER_NEW_PILOT">
      <soap12:operation soapAction="http://tempuri.org/ATTACHSAVEFOLDER_NEW_PILOT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETEATTACH">
      <soap12:operation soapAction="http://tempuri.org/DELETEATTACH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MOBILEPRINTINFOREOPEN">
      <soap12:operation soapAction="http://tempuri.org/MOBILEPRINTINFOREOPEN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATEVENDORFILEID">
      <soap12:operation soapAction="http://tempuri.org/UPDATEVENDORFILEID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETEATTACH_BILDIRIMNO_AND_DOSYATIPI">
      <soap12:operation soapAction="http://tempuri.org/DELETEATTACH_BILDIRIMNO_AND_DOSYATIPI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETATTACHIMAGE">
      <soap12:operation soapAction="http://tempuri.org/GETATTACHIMAGE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETATTACH">
      <soap12:operation soapAction="http://tempuri.org/GETATTACH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETATTACHBULKCODE">
      <soap12:operation soapAction="http://tempuri.org/GETATTACHBULKCODE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATEFILECOUNT">
      <soap12:operation soapAction="http://tempuri.org/UPDATEFILECOUNT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ING_ATTACHSAVEFOLDER">
      <soap12:operation soapAction="http://tempuri.org/ING_ATTACHSAVEFOLDER" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ING_DELETEATTACH">
      <soap12:operation soapAction="http://tempuri.org/ING_DELETEATTACH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ING_GETATTACHIMAGE">
      <soap12:operation soapAction="http://tempuri.org/ING_GETATTACHIMAGE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TeknoserDosyaAktarimHttpGet" type="tns:TeknoserDosyaAktarimHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="MOBILEPRINTINFOREOPEN">
      <http:operation location="/MOBILEPRINTINFOREOPEN" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATEFILECOUNT">
      <http:operation location="/UPDATEFILECOUNT" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TeknoserDosyaAktarimHttpPost" type="tns:TeknoserDosyaAktarimHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="MOBILEPRINTINFOREOPEN">
      <http:operation location="/MOBILEPRINTINFOREOPEN" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATEFILECOUNT">
      <http:operation location="/UPDATEFILECOUNT" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeknoserDosyaAktarim">
    <wsdl:port name="TeknoserDosyaAktarimSoap" binding="tns:TeknoserDosyaAktarimSoap">
      <soap:address location="http://localhost:2838/TeknoserDosyaAktarim.asmx" />
    </wsdl:port>
    <wsdl:port name="TeknoserDosyaAktarimSoap12" binding="tns:TeknoserDosyaAktarimSoap12">
      <soap12:address location="http://localhost:2838/TeknoserDosyaAktarim.asmx" />
    </wsdl:port>
    <wsdl:port name="TeknoserDosyaAktarimHttpGet" binding="tns:TeknoserDosyaAktarimHttpGet">
      <http:address location="http://localhost:2838/TeknoserDosyaAktarim.asmx" />
    </wsdl:port>
    <wsdl:port name="TeknoserDosyaAktarimHttpPost" binding="tns:TeknoserDosyaAktarimHttpPost">
      <http:address location="http://localhost:2838/TeknoserDosyaAktarim.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>